# JWT Configuration

JWT_SECRET=tu_secreto_jwt

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=tu_password
DB_DATABASE=protectora

# Application Configuration
PORT=3000
NODE_ENV=development
